@import "./config.css";
.categorias_de_registros{
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
}
.categorias_de_registros h1{
    width: 100%;
    font-family: "WorkSans-ExtraBold";
    text-align: center;
    padding: 10px 0;
}
.categorias_de_registros ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
}
.categorias_de_registros ul button{
    padding: .5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .01);
    color: #000000;
    font-size: 15px;

    cursor: pointer;
    transition: all .5s;
}
.categorias_de_registros ul button.active {
   background-color: #39a900;
   color: white;
}
form{
    width:85%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    font-family: "WorkSans-Medium";
    display: none;
}
form .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .title h2 {
    font-family: "WorkSans-ExtraBold";
}
form .control{
    width: 100%;
}
form .control input {
    width: 100%;
    line-height: 30px;
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
    text-indent: 10px;
    border-radius:0 10px 10px 0;
    font-size: 15px;
    /* Otros estilos opcionales */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.control input:focus {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* --------- */
.control-select{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.control-select select {
    width: 100%;
    line-height: 30px;
    border: none;
    outline: none;
    background-color:#38a90088;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    /* Otros estilos opcionales */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 4px;
}
.control-select select:focus {
    color: black;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.control_doble{
    width: 100%;
    display: flex;
    gap: .5rem;
}
.cantidad_ponentes{
    color: #38a900;
    text-align: center;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #e0e0e0;
}
.cantidad_ponentes:hover{
    color: white;
    background-color: #38a900;
}
#ponentes-container-1,
#ponentes-container-2,
#ponentes-container-3,
#ponentes-container-4{
    display: flex;
    gap: .5rem;
}
.box_aclaracion{
    width: 96%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.226) ;
}
.box-archivos_para_subir{
    display: flex;
    gap: 1rem;
}

.box-archivos_para_subir div{
    background-color: #38a90060;
}
.box-archivos_para_subir div input{
    border: none;
    
}
form .btn_registrarme {
    width: max-content;
    padding: .5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #38a900cb;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    color: #fff;
    font-size: 20px;

    cursor: pointer;
    transition: all .5s;
}

.btn_registrarme:hover {
    color: #39a900;
    background-color: #fff;
    transition: all .5s;
}
