@import "./config.css";

.form-ponente {
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    font-family: "WorkSans-Medium";
}

.form-ponente .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-ponente .title h1 {
    font-family: "WorkSans-ExtraBold";
}

.form-ponente .btn_registrarme {
    width: max-content;
    padding: .5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #38a900cb;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    color: #fff;
    font-size: 15px;

    cursor: pointer;
    transition: all .5s;
}

.btn_registrarme:hover {
    color: #39a900;
    background-color: #fff;
    transition: all .5s;
}

.form-ponente .datos {
    display: flex;
    gap: 1rem;
}
.datos_personales, .datos_sena{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.datos_personales .control,
.datos_sena .control{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.control input {
    line-height: 30px;
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
    text-indent: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
}
/* --------- */
.control_doble{
    display: flex;
    gap: .5rem;
}
.cantidad_ponentes{
    color: #38a900;
    text-align: center;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #e0e0e0;
}
.cantidad_ponentes:hover{
    color: white;
    background-color: #38a900;
}
#ponentes-container{
    display: flex;
    gap: .5rem;
}
#ponentes-container .control{
    background-color: #e0e0e0;
}
.box-archivos_para_subir{
    display: flex;
    gap: 1rem;
}

.box-archivos_para_subir div{
    background-color: #38a90060;
}
